.Todolist{
	width: 960px;
	margin: 50px auto;
}
input{
	width: 80%;
	height: 40px;
	padding-left: 10px;
	font-size: 18px;
	outline: none;
	box-sizing: border-box;
}
.btn{
	width: 20%;
	height: 40px;
	outline: none;
	border:none;
}
.list{
	list-style: none;
	margin-top: 15px;
}
.list li{
	width: 100%;
	height: 40px;
	margin-top: 10px;
	line-height: 40px;
	border-left: 2px solid #f69;
	border-bottom: 1px dashed #ccc;
	padding-left: 10px;
	box-sizing: border-box;
}
.list li:hover{
	background-color: #fafafa;
}