<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %} {% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" type="text/css" href="lib/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/common.css">
	{% block head %} {% endblock %}
</head>
<body>
<!-- 导航栏部分:::开始 -->
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="container-fluid">
					<!-- 屏幕缩小后的右按钮 button -->
				    <div class="navbar-header">
					    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					    </button>
					    <a class="navbar-brand" href="#">我的个人博客</a>
				    </div>

				    <!-- Collect the nav links, forms,and other content for toggling -->
				    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					    <ul class="nav navbar-nav">
							<li class="nav-active"><a href="#">首页</a></li>
							<li><a href="#">HTML/CSS</a></li>
							<li><a href="#">JavaScript</a></li>
							<li><a href="#">学无止境</a></li>
							<li><a href="#">我的足迹</a></li>
					    </ul>
			    </div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</div>
	</nav>
<!-- 导航栏部分:::结束 -->

<!-- 轮播图部分:::开始 -->
	<div class="row">
		<div class="container">
			<div class="col-md-8">
				{% block content %}
				{% endblock %}
			</div>
			<div class="col-md-4">
				<!-- 表单部分 登录成功面板-->
				{% if userInfo._id %}
				<form class="form-horizontal" id="user">
					<div>登陆成功！</div>
					<div>欢迎您！<span>{{ userInfo.username }}</span></div>
					<a href="#" id="logout">退出</a>
				</form>
				<!-- 表单部分 登录页面-->
				{% else %}
				<form class="form-horizontal" id="login-form" style="display: block;">
					<div class="form-group">
					    <label for="inputEmail3" class="col-sm-2 control-label">用户名</label>
					    <div class="col-sm-10">
						    <input type="text" class="form-control" id="username-Login" placeholder="请输入用户名">
					    </div>
					</div>
					<div class="form-group">
					    <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
					    <div class="col-sm-10">
						    <input type="password" class="form-control" id="password-Login" placeholder="请输入密码">
					    </div>
					</div>
					<div class="form-group">
					    <div class="col-sm-offset-2 col-sm-10">
						    <button type="submit" class="btn btn-default" id="btn-login">登录</button>
					    </div>
					</div>
					<div class="form-group">
						<div class="login" id="login"><a href="#">没有账号,去注册</a></div>
					</div>
				</form>
				{% endif %}
				<!-- 表单部分 注册页面-->
				<form class="form-horizontal" id="registered-form" style="display: none;">
					<div class="form-group">
					    <label for="inputEmail3" class="col-sm-2 control-label">用户名</label>
					    <div class="col-sm-10">
						    <input type="text" class="form-control" id="username-Registered" placeholder="请输入用户名">
					    </div>
					</div>
					<div class="form-group">
					    <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
					    <div class="col-sm-10">
						    <input type="password" class="form-control" id="password-registered" placeholder="请输入密码">
					    </div>
					</div>
					<div class="form-group">
					    <label for="inputPassword4" class="col-sm-3 col-sm-2 control-label">重复密码</label>
					    <div class="col-sm-10">
						    <input type="password" class="form-control" id="repassword-registered" placeholder="请再次输入密码">
					    </div>
					</div>
					<div class="form-group">
					    <div class="col-sm-offset-2 col-sm-10">
						    <button type="submit" class="btn btn-default" id="btn-registered">注册</button>
					    </div>
					</div>
					<div class="form-group">
						<div class="registered" id="registered"><a href="#">已有账号,去登陆</a></div>
					</div>
				</form>
				<!-- 广告部分 -->
				<div class="img img-1">
					<img src="image/carousel-23.jpg" alt="">
				</div>
				<div class="img">
					<img src="image/carousel-22.jpg" alt="">
				</div>
				<!-- 博主介绍 -->
				<div class="panel panel-1 panel-default">
					<div class="panel-heading">博主介绍</div>
					<div class="panel-body">
						<div class="img-logo">
							<img src="image/carousel-logo.jpg" class="img-circle">
						</div>
						<div class="panel-male">
							<div class="panel-name">欲言又止</div>
							<div class="panel-des">50后草根!03年加入web,不断学习的同时分享着自己的经验</div>
						</div>
					</div>
				</div>

				<!-- 点击排行 -->
				<div class="panel panel-default">
					<div class="panel-heading">点击排行</div>
					<div class="panel-body panel-body-2">
						<div>1</div>
						<div>2</div>
						<div>3</div>
						<div>4</div>
						<div>5</div>
						<div>6</div>
						<div>7</div>
						<div>8</div>
					</div>
				</div>

				<!-- 关注我 -->
				<div class="panel panel-default">
					<div class="panel-heading">关注我</div>
					<div class="panel-body panel-body-3">
						<img src="image/carousel-erweima.jpg">
					</div>
				</div>
			</div>
			<footer>
				Blog Design by <a href="#">Kuazhu</a> <a href="#">豫ICP备11002373号-1</a>.
			</footer>
		</div>
	</div>
<!-- 轮播图部分:::结束 -->

</body>
<script src="lib/js/jquery-1.12.4.min.js"></script>
<script src="lib/js/bootstrap.min.js"></script>
{% block footer %} {% endblock %}
</html>