{% extends './layout.html' %}
{% block title %}
    分类管理
{% endblock %}
{% block header %}
    欢迎来到分类管理中心
{% endblock %}
{% block content %}
<div class="table-responsive content">
    <table class="table table-striped ">
        <thead>
        <tr>
            <th>#</th>
            <th>用户名</th>
            <th>是否是管理员</th>
        </tr>
        </thead>
        <tbody>
        <!-- 通过for循环把后台返回的数据插入到页面 -->
        {% for user in users %}
            <tr>
                <td>{{ user._id.toString() }}</td>
                <td>{{ user.username }}</td>
                {% if user.isAdmin %}
                   <td>是</td>
                {% else %}
                   <td>否</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% if pages > 1 %}
<nav aria-label="Page navigation">
    <ul class="pagination">
        {% if page == 1 %}
        <li class="disabled">
        <a href=javascript:;" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
        </li>
        {% else %}
        <li>
            <a href="/admin/user_list?page={{ page-1 }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}
        {% for i in list %}
            {% if i == page %}
                <li class="active"><a href="/admin/user_list?page={{ i }}">{{ i }}</a></li>
            {% else %}
                <li><a href="/admin/user_list?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page == pages %}
        <li class="disabled">
        <a href="javascript:;" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
        </li>
        {% else %}
        <li>
            <a href="/admin/user_list?page={{ page+1 }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% else %}

{% endif %}
{% endblock %}
{% block footer %}{% endblock %}