{% extends './layout.html' %}
{% block title %}
    管理中心首页
{% endblock %}
{% block header %}
    欢迎来到后台管理中心
{% endblock %}
{% block content %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>用户名</th>
            <th>是否是管理员</th>
        </tr>
        </thead>
        <tbody>
        <!-- 通过for循环把后台返回的数据插入到页面 -->
        {% for user in users %}
            <tr>
                <td>{{ user._id.toString() }}</td>
                <td>{{ user.username }}</td>
                {% if user.isAdmin %}
                   <td>是</td>
                {% else %}
                   <td>否</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block footer %}{% endblock %}