{% extends './layout.html' %}
{% block title %}
    管理中心首页
{% endblock %}
{% block header %}
    欢迎来到后台管理中心
{% endblock %}
{% block content %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>用户名</th>
            <th>是否是管理员</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>XF-0001</td>
            <td>Tom</td>
            <td>是</td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
{% block footer %}{% endblock %}