/*头部样式开始*/
	.top{
		width: 100%;
		height: 40px;
		background: #333;
	}
	.top .nav{
		height: 40px;
		float: left;
	}
	.top .nav .nav-list{
		line-height: 40px;
		float: left;
		font-size: 12px;
		cursor: pointer;
	}
	.top .nav .nav-list:hover a{
		color: white;
	}
	.top .nav span{
		margin-left: 5px;
		margin-right: 5px;
		color: #393d42;
	}
	.top .user-info{
		width: 160px;
		height: 40px;
		float: right;
	}
	.top .user-info .nav-list{
		float: left;
		line-height: 40px;
		cursor: pointer;
	}
	.top .user-info .nav-list:hover a{
		color: white;
	}
	.top .user-info .nav-list span{
		margin-left: 5px;
		margin-right: 5px;
		color: #393d42;
	}
	.top .cart{
		width: 120px;
		height: 40px;
		float: right;
		color: #b0b0b0;
		font-size: 12px;
		line-height: 40px;
		background: #424242;
		text-align: center;
		cursor: pointer;
	}
	.top .cart:hover{
		color: #ff6700;
		background: white;
	}
	i{
		font-size: 20px;
		vertical-align: -5px;
		margin-right: 3px;
	}
/*头部样式结束*/
/*焦点区域开始*/
	.focus{
		width: 100%;
		height: 770px;
		background: #fff;
	}
	.focus .container .header{
		height: 100px;
		width: 100%;
	}
	.focus .container .header .logo{
		width: 55px;
		height: 55px;
		overflow: hidden;
		float: left;
		margin-top: 22px;
		background: url(../images/mi-logo3.png) no-repeat;
		background-position: -55px;
		transition: background-position 0.2s;
		cursor: pointer;
	}
	.focus .container .header .logo:hover{
		background-position: 0px;
	}


	/*出错的交互1 html:<img src="images/mi-logo3.png">
	.focus .container .header .logo img{
		transform: translateX(-55px);
		transition-duration: 0.1s;
	}
	.focus .container .header .logo:hover img{
		transform: translateX(0px);
	}
	*/
	.focus .container .header .header-nav{
		width: 651px;
		height: 100px;
		background: white;
		float: left;
		margin-left: 190px;
	}
	.focus .container .header .header-list{
		float: left;
		line-height: 100px;
		margin-right: 20px;
	}
	.focus .container .header .header-list a{
		font-size: 15px;
		color: #333;
	}
	.focus .container .header .header-list:hover a{
		color: #ff6700;
	}
	.focus .container .header .search{
		width: 296px;
		height: 50px;
		background: #bbb;
		float: left;
		margin-left: 34px;
		margin-top: 25px;
	}
	.focus .container .focus-contant{
		width: 100%;
		height: 460px;
		background: yellow;
	}
	.focus .container .hot{
		width: 100%;
		height: 170px;
		background: purple;
		margin-top: 14px;
	}
/*焦点区域结束*/
/*主要区域开始*/
	.main{
		width: 100%;
		height: 6035px;
		background: blue;
	}
/*主要区域结束*/
/*底部区域开始*/
	.footer{
		width: 100%;
		height: 522px;
		background: black;
	}
/*底部区域结束