	.col1{
		float: left;
		width: 234px;
	}
	.col2{
		float: right;
		width: 978px;
	}
	.hd{
		width: 100%;
		height: 62px;
		line-height: 62px;
	}
	.hd h2{
		font-size: 22px;
		font-weight: lighter;
		float: left;
	}
	.hd .more{
		float: right;
	}
	.hd .more.move a{
		display: block;
		float: left;
		width: 36px;
		height: 24px;
		line-height: 24px;
		border: 1px solid #e0e0e0;
		box-sizing: border-box;
		margin-top: 28px;
		text-align: center;
	}
	.hd .more.move a:hover i{
		color: #ff6700;
	}
	.hd .more.move a i{
		color: #bab1b0;
		font-size: 16px;
	}
	.hd .more.move a:first-child{
		border-right: none;
	}
	.main .container .ad{
		width: 1226px;
		height: 120px;
		cursor: pointer;
	}
	.main .container .ad img{
		width: 100%;
		height: 100%;
	}
/*头部样式开始*/
	.top{
		width: 100%;
		height: 40px;
		background: #333;
	}
	.top .nav{
		height: 40px;
		float: left;
	}
	.top .nav .nav-list{
		line-height: 40px;
		float: left;
		font-size: 12px;
		cursor: pointer;
	}
	.top .nav .nav-list:hover a{
		color: #fff;
	}
	.top .nav span{
		margin-left: 5px;
		margin-right: 5px;
		color: #393d42;
	}
	.top .user-info{
		width: 160px;
		height: 40px;
		float: right;
	}
	.top .user-info .nav-list{
		float: left;
		line-height: 40px;
		cursor: pointer;
	}
	.top .user-info .nav-list:hover a{
		color: white;
	}
	.top .user-info .nav-list span{
		margin-right: 5px;
		color: #393d42;
	}
	.top .cart{
		width: 120px;
		height: 40px;
		float: right;
		color: #b0b0b0;
		font-size: 12px;
		line-height: 40px;
		background: #424242;
		text-align: center;
		cursor: pointer;
	}
	.top .cart:hover{
		color: #ff6700;
		background: white;
	}
	i{
		font-size: 20px;
		vertical-align: -5px;
		margin-right: 3px;
	}
/*头部样式结束*/
/*焦点区域开始*/
	.focus{
		width: 100%;
		height: 770px;
		background: #fff;
	}
	.focus .container .header{
		height: 100px;
		width: 100%;
	}
	.focus .container .header .logo{
		width: 55px;
		height: 55px;
		overflow: hidden;
		float: left;
		margin-top: 22px;
		background: url(../images/mi-logo3.png) no-repeat;
		background-position: -55px;
		transition: background-position 0.2s;
		cursor: pointer;
	}
	.focus .container .header .logo:hover{
		background-position: 0px;
	}
	/*出错的交互1 html:<img src="images/mi-logo3.png">
	.focus .container .header .logo img{
		transform: translateX(-55px);
		transition-duration: 0.1s;
	}
	.focus .container .header .logo:hover img{
		transform: translateX(0px);
	}
	*/
	.focus .container .header .header-nav{
		width: 651px;
		height: 100px;
		background: white;
		float: left;
		margin-left: 190px;
	}
	.focus .container .header .header-list{
		float: left;
		line-height: 100px;
		margin-right: 20px;
	}
	.focus .container .header .header-list a{
		font-size: 15px;
		color: #333;
	}
	.focus .container .header .header-list:hover a{
		color: #ff6700;
	}
	.focus .container .header .search{
		width: 296px;
		height: 50px;
		float: left;
		margin-left: 34px;
		margin-top: 25px;
		position: relative;
		z-index: 9;
	}
	/*有问题的地方*/
	.focus .container .search:hover .search-btn{
		border-color: #aaa;
	}
	.focus .container .header .search input{
		width: 245px;
		height: 50px;
		float: left;
		box-sizing: border-box;
		border: 1px solid #e0e0e0;
		border-right: none;
		outline: none;
		padding-left: 10px;
	}
	.focus .header .search input:focus{
		border-color: #ff6700;
	}
	.focus .header .search input:focus +.search-btn{
		border-color: #ff6700;
	}
	.focus .header .search input:focus ~.search-list{
		display: block;
	}
	.focus .header .search input:focus ~.search-word{
		display: none;
	}
	.focus .container .header .search .search-btn{
		width: 51px;
		height: 50px;
		border: 1px solid #e0e0e0;
		float: left;
		color:#616161;
		text-align: center;
		line-height: 50px;
		box-sizing: border-box;
	}
	.focus .container .search .search-btn i{
		font-size: 24px;
		cursor: pointer;
	}
	.focus .container .search .search-btn:hover{
		background: #ff6700;
		color: white;
	}
	.focus .container .header .search .search-word{
		position: absolute;
		font-size: 11px;
		background: #eee;
		padding: 1px 5px;
		color: #757575;
	}
		.focus .container .search .search-word:hover{
		background: #ff6700;
		color: white;
	}
	.focus .container .header .search .keyword1{
		top: 15px;
		left: 58px;
	}
	.focus .container .header .search .keyword2{
		top: 15px;
		left: 147px;
	}
	.focus .container .header .search .search-list{
		border:1px solid #ff6700;
		width: 244px;
		height: 310px;
		background: white;
		display: none;
	}
	.focus .container .header .search .search-item{
		line-height: 30px;
		padding-left: 10px;
		cursor: pointer;
		z-index: 999;
	}
	.focus .container .header .search .search-item:hover{
		background: #fafafa;
	}
	.focus .container .header .search-list a{
		color: #333;		
	}
	.focus .container .focus-contant{
		width: 100%;
		height: 460px;
		position: relative;
	}
	.focus .container .focus-contant .cate-list{
		width: 234px;
		height: 460px;
		box-sizing: border-box;
		padding-top: 20px;
		padding-bottom: 20px;
		position: absolute;
		background: rgba(105,101,101,0.6);
		z-index:33; 
	}
	.focus .container .focus-contant .cate-list i{
		padding-right: 20px;
		color: #e0e0e0;
		font-size: 16px;
		float: right;
	}
	.focus .container .focus-contant .cate-item{
		line-height: 42px;
		cursor: pointer;
		height: 42px;
		padding-left: 34px;
	}
	.focus .container .focus-contant .cate-item:hover{
		background: #ff6700;
	}
	.focus .container .focus-contant .cate-item a{
		font-size: 14px;
		color: #fff;
	}
	.focus .container .focus-contant .carousel{
		box-sizing: border-box;
		width: 100%;
		height: 460px;
		position: relative;
		top: 0px;
		left: 0px;
	}
	.focus .container .focus-contant .carousel img{
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		cursor: pointer;
	}
	.focus .container .focus-contant .carousel .arrow{
		width: 41px;
		height: 69px;
		position: absolute;
		line-height: 69px;
		text-align: center;
		color: #afcdd6;
		cursor: pointer;
	}
	.focus .container .focus-contant .carousel .arrow i{
		font-size: 30px;
	}
	.focus .container .focus-contant .carousel .arrow:hover{
		background: #7d7e7f;
		color: white;
	}
	.focus .container .focus-contant .carousel .arrow-left{
		top: 190px;
		left: 234px;		
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}
	.focus .container .focus-contant .carousel .arrow-right{
		top: 190px;
		left: 1186px;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}
	.focus .container .focus-contant .carousel .btn-item{
		height: 60px;
		width: 82px;
		position: absolute;
		bottom: -20px;
		right: 0px;
		z-index: 340;
	}
	.focus .container .focus-contant .carousel .btn-list{
		width: 8px;
		height: 8px;
		background: #8f8e92;
		border: 2px solid #b1b0b3;
		border-radius: 50%;
		display: inline-block;
		cursor: pointer;
	}
	.focus .container .focus-contant .carousel .btn-list:hover{
		background: #f5f4f8;
	}
	.focus .container .hot{
		width: 100%;
		margin-top: 14px;
	}
	.focus .container .hot .hot-left{
		height: 170px;
	}
	.focus .container .hot .hot-left .hot-list{
		float: left;
		background: #5f5750;
	}
	.focus .container .hot .hot-left .hot-item{
		width: 78px;
		height: 85px;
		float: left;
		text-align: center;
		position: relative;	
	}
	.focus .container .hot .hot-left .hot-item:before{
		content:'';
		position: absolute;
		top: 2px;
		left: 9px;
		display: block;
		width: 64px;
		height: 1px;
		background:#665e57;
	}
	.focus .container .hot .hot-left .hot-item:after{
		content:'';
		position: absolute;
		top: 9px;
		left: 2px;
		display: block;
		width: 1px;
		height: 72px;
		background:#665e57;
	}
	.focus .container .hot-left .hot-item span{
		font-size: 12px;
	}
	.focus .container .hot .hot-left .hot-item i{
		display: block;
		margin-top: 22px;
		cursor: pointer;
	}
	.focus .container .hot .hot-right{
		height: 170px;
	}
	.focus .container .hot .hot-right .rexiao{
		width: 316px;
		height: 170px;
		float: left;
		margin-left: 15px;
		cursor: pointer;
	}
	.focus .container .hot .hot-right .rexiao:first-child{
		margin-left: 0px;
	}
	.focus .container .hot .hot-right .rexiao img{
		width: 100%;
		height: 100%;
	}
/*焦点区域结束*/
/*主要区域开始*/
	.main{
		width: 100%;
		height:6035px;
		background: #f5f5f5;
	}
	.main .flash .bd .col1{
		text-align: center;
		height: 340px;
		background: #f1eded;
		border-top: 1px solid #e53935;
		box-sizing: border-box;
	}
	.main .flash .bd .col1 div:nth-child(1){
		color: #ef3a3b;
		font-size: 19px;
		margin-top: 60px;
		margin-bottom: 32px;
	}
	.main .flash .bd .col1 div:nth-child(3){
		color: #6f6d6d;
		font-size: 15px;
		margin-top: 25px;
		margin-bottom: 23px;
	}
	.main .flash .bd .col1 span{
		text-align: center;
		line-height: 46px;
	}
	.main .flash .bd .col1 span{
		font-size: 26px;
	}
	.main .flash .bd .col1 span:nth-child(1){
		display: inline-block;
		width: 46px;
		height: 46px;
		background: #605751;
		color: #fff;
		font-size: 22px;
	}
	.main .flash .bd .col1 span:nth-child(3){
		display: inline-block;
		width: 46px;
		height: 46px;
		background: #605751;
		color: #fff;
		font-size: 22px;
	}
	.main .flash .bd .col1 span:nth-child(5){
		display: inline-block;
		width: 46px;
		height: 46px;
		background: #605751;
		color: #fff;
		font-size: 22px;
	}
	.main .flash .bd .col2 .product-list{
		width: 978px;
		height: 340px;
	}
	.main .bd .col2 .product-item{
		width: 234px;
		height: 340px;
		background: #fff;
		float: left;
		margin-left: 14px;
		text-align: center;
		box-sizing: border-box;
		position: relative;
		cursor: pointer;
	}
	.main .bd .col2 .product-item .mask{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		background: rgba(0,0,0,0.02);
	}
	.main .bd .col2 .product-item:nth-child(1):before{
		content: '1元';
		display: block;
		width: 64px;
		height: 20px;
		background: #e13834;
		color: #fff;
		position: absolute;
		top: 0px;
		left: 50%;
		margin-left: -32px;
	}
	.main .bd .col2 .product-item:nth-child(1){
		border-top: 1px solid #00c0a5;
	}
	.main .bd .col2 .product-item:nth-child(2){
		border-top: 1px solid #ffac13;
	}
	.main .bd .col2 .product-item:nth-child(3){
		border-top: 1px solid #83c44e;
	}
	.main .bd .col2 .product-item:nth-child(4){
		border-top: 1px solid #e53935;
	}
	.main .bd .col2 .product-item img{
		margin-top: 20px;
	}
	.main .bd .col2 .product-item .product-common{
		overflow: hidden;
		text-overflow: ellipsis;
		white-space:nowrap;
	}
	.main .bd .col2 .product-item .product-name{
		font-size: 12px;
		color:#202020;
	}
	.main .bd .col2 .product-item .product-desc{
		font-size: 11px;
		color: #adadad;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.main .bd .col2 .product-item span{
		font-size: 12px;
		color: #ff6700;
	}
	.main .bd .col2 .product-item del{
		font-size: 12px;
		color: #adadad;
	}
	.main .bd .col2 .product-item:first-child{
		margin-left: 0px;
	}
	.main .container .ad.ad-shangou{
		margin-top: 22px;
	} 
	
/*主要区域结束*/
/*底部区域开始*/
	.footer{
		width: 100%;
		height: 522px;
		background: black;
	}
/*底部区域结束